/* PROFIT */
.profit {
    /* background-image: url(/crypto-imageS/); */
    background-color: #2B076E;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0 6em;
}

.profit-main-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.profit-main-col .col-1 {
    width: 45%;
}

.profit-main-col .col-2 {
    width: 50%
}

.profit-main-col .paragraph {
    max-width: 410px;
    padding-bottom: 1.75em;
}

.profit-main-col h2 {
    text-align: left;
}




@media (max-width:800px) {
    html {
        font-size: .8rem;
    }

    /* PROFIT */

    .profit-main-col {
        display: flex;
        flex-direction: column;
    }

    .profit-main-col .col-1 {
        width: 100%;
        padding-bottom: 5em;
    }

    .profit-main-col .col-2 {
        width: 100%
    }

}